<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "HnBookshelf", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="m-2" >
      <section class="container m-2 mx-auto w-[85%]">
        <nav class="bg-hn-orange flex flex-row content-center place-items-center p-0.5">
          <div class="place-self-center  mr-1">
            <img class="border border-white" src={Routes.static_path(@conn, "/images/y_combinator_logo.gif")}/>
          </div>
          <span class="inline-flex">
            <b class="mr-[10px] font-hn text-[10pt]">Hacker News</b>
            <p class="font-hn text-[10pt]">new | threads | past | comments | ask | show | jobs | submit</p>
          </span>
          <div class="font-hn text-[10pt] ml-auto pr-1">
            login
          </div>
        </nav>
        
        <div class="bg-hn-grey-1 flex flex-col pl-2">
          <div class="h-[10px]"></div>
          <div class="flex flex-col">
            <div class="flex flex-row">
              <div class="text-hn-grey-2 text-[10pt] font-hn"> 1.</div>
              <div class="self-center ml-1">
                <img class="w-[10px] h-[10px]" src={Routes.static_path(@conn, "/images/hn_upvote_arrow.gif")}/>
              </div>
              <div class="text-[10pt] font-hn ml-1">
                <a>Apple Execs on iMessage for Android (2013)</a>
              </div>
              <div class="self-end text-[8pt] font-hn text-hn-grey-2 ml-1">
                <a>(twitter.com/techemails)</a>
              </div>
            </div>
          </div>
          <div class="text-[7pt] font-hn text-hn-grey-2 ml-8">
            94 points by mfiguiere 1 hour ago | hide | 85 comments
          </div>
          <div class="h-[5px]">
          </div>
        </div>
        
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
