<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "HnBookshelf", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="m-2" >
      <section class="container m-2 mx-auto w-[85%]">
        <nav class="bg-hn-orange flex flex-row content-center place-items-center p-0.5">
          <div class="place-self-center  mr-1">
            <img class="border border-white" src={Routes.static_path(@conn, "/images/y_combinator_logo.gif")}/>
          </div>
          <span class="inline-flex">
            <b class="mr-2 font-hn text-[10pt]">Hacker News</b>
            <p class="font-hn text-[10pt]">new | threads | past | comments | ask | show | jobs | submit</p>
          </span>
          <div>
            
          </div>
          <div class="font-hn text-[10pt] ml-auto pr-1">
            login
          </div>
        </nav>
        <div class="bg-hn-grey flex flex-col">
          <div>
            Hello There
          </div>
        </div>
        
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
